In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pc\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\pc\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pc\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\pc\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pc\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import warnings
warnings.filterwarnings ('ignore')
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
name=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
upload_date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')

In [6]:
len(name)

30

In [7]:
names=[]
artists=[]
upload_dates=[]
view=[]
for i in range(len(name)):
    names.append(name[i].text)
    artists.append(artist[i].text)
    upload_dates.append(upload_date[i].text)
    view.append(views[i].text)

In [8]:
df1=pd.DataFrame({'Name':names, 'Artist':artists, 'Date Uploaded':upload_dates, 'Views (Billion)':view})

df1

,Name,Artist,Date Uploaded,Views (Billion)
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,"""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [10]:
search_button=driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]')
search_button.click()

In [11]:
series=driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
place=driver.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]')
date=driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
time=driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')

In [12]:
for i in place:
    print(i.text)

Sylhet International Cricket Stadium, Sylhet
Nassau County International Cricket Stadium, New York
Nassau County International Cricket Stadium, New York
Nassau County International Cricket Stadium, New York
Central Broward Park & Broward County Stadium, Lauderhill, Florida
Harare Sports Club, Harare
Harare Sports Club, Harare
Harare Sports Club, Harare
Harare Sports Club, Harare

In [13]:
serie=[]
places=[]
dates=[]
times=[]
for i in range(len(series)):
    serie.append(series[i].text)
    places.append(place[i].text)
    dates.append(date[i].text)
    times.append(time[i].text)

In [14]:
df2=pd.DataFrame({'Series':serie, 'Places':places, 'Date':dates, 'Time':times})

df2

,Series,Places,Date,Time
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","9 MAY, 2024",11:00 AM BST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",3:30 PM BST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",3:30 PM BST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",3:30 PM BST
4,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",3:30 PM BST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",3:30 PM BST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",3:30 PM BST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",3:30 PM BST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",3:30 PM BST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: 
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [15]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [16]:
search_button=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"][1]')
search_button.click()

In [17]:
song_name=driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li/h3')
artist_name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
last_week=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
peak_rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
week_on_board=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')

In [18]:
song_names=[]
artist_names=[]
last_weeks=[]
peak_ranks=[]
week_on_boards=[]
for i in range(len(song_name)):
    song_names.append(song_name[i].text)
    artist_names.append(artist_name[i].text)
    last_weeks.append(last_week[i].text)
    peak_ranks.append(peak_rank[i].text)
    week_on_boards.append(week_on_board[i].text)

In [19]:
df5=pd.DataFrame({'Song Name':song_names,'Artist Name':artist_names, 'Last Week Rank':last_weeks, 'Peak Rank':peak_ranks,'Weeks on Board':week_on_boards})

df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Fortnight,Taylor Swift Featuring Post Malone,-,1,1
1,Down Bad,Taylor Swift,-,2,1
2,I Can Do It With A Broken Heart,Taylor Swift,-,3,1
3,The Tortured Poets Department,Taylor Swift,-,4,1
4,"So Long, London",Taylor Swift,-,5,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,-,96,1
96,Wine Into Whiskey,Tucker Wetmore,84,77,5
97,Spin You Around (1/24),Morgan Wallen,89,24,13
98,Soak City,310babii,82,53,19
99,Selfish,Justin Timberlake,60,19,13

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [20]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [21]:
book_name=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')
author_name=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')
volume_sold=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')
publisher=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')
genre=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')

In [22]:
book_names=[]
author_names=[]
volume_solds=[]
publishers=[]
genres=[]
for i in range(len(book_name)):
    book_names.append(book_name[i].text)
    author_names.append(author_name[i].text)
    volume_solds.append(volume_sold[i].text)
    publishers.append(publisher[i].text)
    genres.append(genre[i].text)

In [23]:
df6=pd.DataFrame({'Book Name':book_names,'Author Name':author_names, 'Volume Sold':volume_solds, 'Publishers':publishers,'Genre':genres})

df6

,Book Name,Author Name,Volume Sold,Publishers,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [24]:
for i in genre:
    print(i.text)

Crime, Thriller & Adventure
Children's Fiction
Children's Fiction
Children's Fiction
Romance & Sagas
Children's Fiction
Children's Fiction
Children's Fiction
Crime, Thriller & Adventure
Children's Fiction
Romance & Sagas
Young Adult Fiction
Crime, Thriller & Adventure
Romance & Sagas
Crime, Thriller & Adventure
Young Adult Fiction
Crime, Thriller & Adventure
Young Adult Fiction
General & Literary Fiction
General & Literary Fiction
Crime, Thriller & Adventure
Popular Science
Crime, Thriller & Adventure
Young Adult Fiction
Picture Books
Picture Books
Food & Drink: General
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
Crime, Thriller & Adventure
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
Humour: Collections & General
General & Literary Fiction
Autobiography: General
General & Literary Fiction
Biography: The Arts
Autobiography: General
Picture Books
Autobiography: General
General & Literary Fiction
Young Adult Fiction
General & Literary Fiction
Science Fiction & Fantasy
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
Crime, Thriller & Adventure
General & Literary Fiction
General & Literary Fiction
Fitness & Diet
General & Literary Fiction
Children's Fiction
Crime, Thriller & Adventure
Fitness & Diet
Young Adult Fiction
Usage & Writing Guides
Food & Drink: General
General & Literary Fiction
Young Adult Fiction
General & Literary Fiction
Young Adult Fiction
General & Literary Fiction
Popular Culture & Media: General Interest
Autobiography: The Arts
General & Literary Fiction
Crime, Thriller & Adventure
Science Fiction & Fantasy
Current Affairs & Issues
Crime, Thriller & Adventure
Autobiography: The Arts
General & Literary Fiction
Autobiography: The Arts
Travel Writing
Food & Drink: General
General & Literary Fiction
National & Regional Cuisine
Fitness & Diet
Travel Writing
Crime, Thriller & Adventure
General & Literary Fiction
Food & Drink: General
General & Literary Fiction
General & Literary Fiction
Picture Books
General & Literary Fiction
Autobiography: The Arts
Popular Science
Children's Annuals
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
Food & Drink: General
Young Adult Fiction
Biography: General
Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls512407256/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [30]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls512407256/')

In [31]:
name=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')
year_span=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/span[2]')
genre=driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"]/span[5]')
run_time=driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"]/span[3]')
ratings=driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]/span[2]')
votes=driver.find_elements(By.XPATH, '//span[@name="nv"]')

In [32]:
names=[]
year_spans=[]
genres=[]
run_times=[]
rating=[]
vote=[]
for i in range(len(name)):
    names.append(name[i].text)
    year_spans.append(year_span[i].text)
    genres.append(genre[i].text)
    run_times.append(run_time[i].text)
    rating.append(ratings[i].text)
    vote.append(votes[i].text)

In [33]:
df7=pd.DataFrame({'Name':names,'Year Span':year_spans, 'Genre':genres, 'Run Time':run_times,'Ratings':rating, 'Votes':vote})

df7

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",60 min,9.2,"2,287,506"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",60 min,8.7,"1,338,376"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",45 min,8.1,"1,083,328"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"315,777"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"276,531"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",60 min,8.9,"657,307"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"163,393"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"115,982"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"436,316"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"139,890"

In [34]:
for i in name:
    print(i.text)

Game of Thrones
Stranger Things
The Walking Dead
13 Reasons Why
The 100
Orange Is the New Black
Riverdale
Grey's Anatomy
The Flash
Arrow
Money Heist
The Big Bang Theory
Black Mirror
Sherlock
Vikings
Pretty Little Liars
The Vampire Diaries
American Horror Story
Breaking Bad
Lucifer
Supernatural
Prison Break
How to Get Away with Murder
Teen Wolf
The Simpsons
Once Upon a Time
Narcos
Daredevil
Friends
How I Met Your Mother
Suits
Mr. Robot
The Originals
Supergirl
Gossip Girl
Sense8
Gotham
Westworld
Jessica Jones
Modern Family
Rick and Morty
Shadowhunters: The Mortal Instruments
The End of the F***ing World
House of Cards
Dark
Elite
Sex Education
Shameless
New Girl
Agents of S.H.I.E.L.D.
Game of Thrones
You
Stranger Things
Dexter
The Walking Dead
Fear the Walking Dead
13 Reasons Why
Family Guy
The 100
The Blacklist
Orange Is the New Black
Lost
Riverdale
Peaky Blinders
Grey's Anatomy
House M.D.
The Flash
Quantico
Arrow
Orphan Black
Money Heist
Homeland
The Big Bang Theory
Blindspot
Black Mirror
Legends of Tomorrow
Sherlock
The Handmaid's Tale
Vikings
Chilling Adventures of Sabrina
Pretty Little Liars
The Good Doctor
The Vampire Diaries
Jane the Virgin
American Horror Story
Glee
Breaking Bad
South Park
Lucifer
Brooklyn Nine-Nine
Supernatural
Under the Dome
Prison Break
The Umbrella Academy
How to Get Away with Murder
True Detective
Teen Wolf
The OA
The Simpsons
Desperate Housewives

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute 
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.
ASSIGNMENT

In [35]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [36]:
search_button=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
search_button.click()

In [37]:
search_button2=driver.find_element(By.XPATH,'//span[@class="swap-on text-primary-content"]')
search_button2.click()

In [38]:
dataset_name=driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
dataset_type=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
task=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
attribute_type=driver.find_elements(By.XPATH, '//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
no_instance=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
no_attribute=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
year=driver.find_elements(By.XPATH, '//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')

In [39]:
dataset_names=[]
dataset_types=[]
tasks=[]
attribute_types=[]
no_instances=[]
no_attributes=[]
years=[]
for i in range(len(dataset_name)):
    dataset_names.append(dataset_name[i].text)
    dataset_types.append(dataset_type[i].text)
    tasks.append(task[i].text)
    attribute_types.append(attribute_type[i].text)
    no_instances.append(no_instance[i].text)
    no_attributes.append(no_attribute[i].text)
    years.append(year[i].text)

In [40]:
df8=pd.DataFrame({'Dataset Name':dataset_names,'Dataset Type':dataset_types, 'Tasks':tasks, 'Attribute Type':attribute_types,'No of Instance':no_instances, 'No of Attributes':no_attributes, 'Dates':years})

df8

,Dataset Name,Dataset Type,Tasks,Attribute Type,No of Instance,No of Attributes,Dates
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
6,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A

In [41]:
for i in task:
    print(i.text)

Classification
Classification
Classification
Classification
Classification
Classification
Classification
Classification
Classification, Regression
Classification